[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "eff2"]
	path = eff2
	url = https://github.com/richardkwo/eff2
	shallow = true
	registered = true
